<section id="chat">
    <div class="container p-5">
    <h1 class="display-4">Customer support</h1>
    <hr>
    <div class="row mt-5">
      <div class="wrapper">
        <nav id="nav" class="nav">
            <div class="default-nav">
              <div class="main-nav">
                <div class="toggle">
                  <div class="main-nav-item">
                    <a href="#" class="main-nav-item-link">You</a>
                  </div>
                  <div class="options">
    
                  </div>
                </div>
              </div>
              <div class="inner" id="inner">
                <div class="content" id="content" >
                  <div class="message-wrapper them" *ngFor="let msg of messages">
                    <div class="circle-wrapper animated bounceIn">{{msg.name}}
                    </div>
                    <div class="animated fadeIn" style="color:black !important">{{msg.message}}
                      </div>
                    </div>
                </div>
              </div>
              <div class="bottom" id="bottom">
                <textarea name="" id="input"   [(ngModel)]="message" cols="30" rows="10" class="input" ></textarea>
                <div class="send" id="send" (click)="sendMsg()"></div>
              </div>
            </div>
          </nav>
        </div>
    </div>
    
  </div>
</section>
